@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

.container-app{
  background:linear-gradient(to left, rgb(0, 0, 0) , rgb(109, 109, 109))
}

body{
  color: rgba(255, 255, 255, 0.94);
  scroll-behavior: smooth;
  
}

.header{
  z-index: 1;
  backdrop-filter: blur(15px);
  transition: all 0.5s;
}

.icon:hover{
  box-shadow: 1px 2px 3px 5px black;
  transition: all 0.5s;
}

.card{
  transition: all 0.5s;
}

li{
  border-bottom: solid 1px rgb(255, 255, 255);
  cursor: pointer;
}
li:hover{
  border-bottom: solid 1px rgb(0, 0, 0);
  color: rgb(119, 119, 119);
  transition: all 0.5s;
  border-bottom-left-radius:10px;
}

.container-banner{
  animation: transion_poster normal 2s;
}
@keyframes transion_poster {
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1
  }
}

.forward{
  opacity: 0;
  z-index: 1;
}
.forward:hover{
  opacity: 1;
  transition: all 0.5s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  cursor: pointer;
}

.point{
  cursor: pointer;
  transition: all 0.5s;
}

.bg_banner{
  animation: transition_b normal 2s;
}
@keyframes transition_b {
  from{
    opacity: 0.25;
  }
  to{
    opacity: 1;
  }
}
.title{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover{
  cursor: pointer;
  background-color: rgb(240, 249, 255);
  transition: all 0.5s;
}

.par{
  line-height: 34px;
}

.App.dark{
  background-color: rgb(255, 140, 0);
}

.footer{
  backdrop-filter: blur(15px);
  transition: all 0.5s;
}

.ja{
  overflow: hidden;
}
.js:hover{
  transform: scale(1.12);
  transition: all 0.75s;
  cursor: pointer;
}

.mode{
  animation: mode 1s normal;
  backdrop-filter: blur(15px);
}
@keyframes mode {
  from{
    height: 0px;
    opacity: 0;
  }
  to{
    height: 88px;
    opacity: 1;
  }
}

.users{
  transition: all 0.5s;
}